.flex-container{
height: 400px;
display: flex;
align-content: space-between;
/* flex-direction: row;
flex-wrap: wrap; */
flex-flow: row wrap;
justify-content: center;
background-color: #404040;
border-radius:10px;
border: 20x solid yellow;
font-size: 35px;

}

.flex-container > div {
    
padding: 10px;
margin: 10px;
border: 1px solid black;
border-radius: 10px;
background: #f18c55;

}

.one{

    height: 100px;
    /*width: 300px;  */
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    
}
.two{
    height: 100px;
    margin-left: auto;
    width: 200px;
    flex-grow: 1;
    flex-shrink: 1
    
}
.three{
    height: 100px;
    width: 200px;
    flex-grow: 1;
    flex-shrink: 1
    
}

