
body{
    margin: 0;
    

}
.cabecera{
    background-color:rgba(243, 0, 0, 0.753);
    color: white;
    text-align: center;
    padding: 10px;
    
}
.menu{

    background-color: black;
    border: 1px solid white;
    text-align: center;
    margin: 0;
    height: 40px;
    padding:10px;

}
a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 110px;
    color: white;
    
}
.cuerpo{
    background-color: rgb(223, 200, 200);
    padding: 10px;

}

p{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.pie{

    background-color: rgb(67, 214, 214);
    text-align: center;
    padding: 10px;
}